{% extends 'discover/base.html' %}

{% block content %}
    {% load static %}
    <div id="main" xmlns="http://www.w3.org/1999/html">
        <div id="mobile-search" class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="mobile-title-icon">
                    <img class="search-icon" src="{% static 'discover/images/search-icon-yellow.png' %}"/>
                </span>
            </div>
            <input id="mobile-search-title" type="text" class="form-control" placeholder="Title of Movie">
        </div>
        <div id="search-results">
            <div id="movie-example" class="movie card">
                <div class="poster-container">
                    <img src="http://image.tmdb.org/t/p/w185//nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg"/>
                </div>
                <div class="info">
                    <div class="title">
                        <h5>Interstellar</h5>
                    </div>
                    <div class="rating">
                        <span>7.5</span>
                    </div>
                    <div class="categories">
                        <span>Action</span>
                        <span>&nbsp;|&nbsp;</span>
                        <span>Adventure</span>
                        <span>&nbsp;|&nbsp;</span>
                        <span>Comedy</span>
                    </div>
                    <div class="description">
                        <span>Superbad is a 2007 American coming-of-age teen comedy film directed by Greg Mottola and produced by Judd Apatow. The film stars Jonah Hill and Michael Cera as Seth and Evan, two teenagers about to graduate high school.</span>
                    </div>
                    <div class="release-date">
                        <span>2017-05-06</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="search">
            <div id="search-inputs" class="card">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="title-icon">
                        <img class="search-icon" src="{% static 'discover/images/search-icon-yellow.png' %}"/>
                    </span>
                  </div>
                  <input id="search-title" type="text" class="form-control" placeholder="Title of Movie">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="year-icon">
                            <img class="search-icon" src="{% static 'discover/images/year-icon.png' %}"/>
                        </span>
                      </div>
                  <input id="search-year" type="text" class="form-control" placeholder="Year of Release">
                </div>
            </div>
            <div id="search-filters" class="card">
                <h6>Movie</h6>
                <p id="filter-genre"><i class="fa fas fa-minus"></i> Select genre(s) </p>
                <div id="genres">
                    <div class="input-group">
                        <label><input type="checkbox" name="checkbox" value="value">Action</label>
                    </div>
                    <div class="input-group">
                        <label><input type="checkbox" name="checkbox" value="value">Adventure</label>
                    </div>
                    <div class="input-group">
                        <label><input type="checkbox" name="checkbox" value="value">Animation</label>
                    </div>
                    <div class="input-group">
                        <label><input type="checkbox" name="checkbox" value="value">Comedy</label>
                    </div>
                    <div class="input-group">
                        <label><input type="checkbox" name="checkbox" value="value">Crime Film</label>
                    </div>
                    <div class="input-group">
                        <label><input type="checkbox" name="checkbox" value="value">Documentary</label>
                    </div>
                    <div class="input-group">
                        <label><input type="checkbox" name="checkbox" value="value">Drama</label>
                    </div>
                    <div class="input-group">
                        <label><input type="checkbox" name="checkbox" value="value">Exotic</label>
                    </div>
                    <div class="input-group">
                        <label><input type="checkbox" name="checkbox" value="value">Family</label>
                    </div>
                    <div class="input-group">
                        <label><input type="checkbox" name="checkbox" value="value">Fantasy</label>
                    </div>
                    <div class="input-group">
                        <label><input type="checkbox" name="checkbox" value="value">History</label>
                    </div>
                    <div class="input-group">
                        <label><input type="checkbox" name="checkbox" value="value">Horror</label>
                    </div>
                </div>
                <p id="filter-vote"><i class="fa fas fa-plus"></i> Select min. vote </p>
                <p id="filter-lang"><i class="fa fas fa-plus"></i> Select language </p>

            </div>
        </div>
    </div>
{% endblock %}